<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="theme-color" content="#f9f9f9" />
    <title>{{ .Site.Title }}</title>
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    <meta name="description" content="{{ .Site.Params.description }}" />
    <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ .Site.Params.assets_prefix }}/css/fonts/linecons/css/linecons.css"
    />
    <link
      rel="stylesheet"
      href="{{ .Site.Params.assets_prefix }}/css/fonts/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ .Site.Params.assets_prefix }}/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="{{ .Site.Params.assets_prefix }}/css/xenon-core.css"
    />
    <link
      rel="stylesheet"
      href="{{ .Site.Params.assets_prefix }}/css/xenon-components.css"
    />
    <link
      rel="stylesheet"
      href="{{ .Site.Params.assets_prefix }}/css/xenon-skins.css"
    />
    <link
      rel="stylesheet"
      href="{{ .Site.Params.assets_prefix }}/css/nav.css"
    />

    <!-- Script -->
    <script src="{{ .Site.Params.assets_prefix }}/js/jquery-1.11.1.min.js"></script>
    <script src="{{ .Site.Params.assets_prefix }}/js/custom.js"></script>
  </head>
</html>
